.form {
  margin-top: 20px;
}
.container {
  display: flex;
  gap: 30px;
  margin-left: 30px;
  width: 420px;
  height: 55px;
  padding: 5px;
  border-radius: 10px;
}
.button-container {
  display: block;
  margin-left: 170px;
  margin-top: 20px;
}
