.form {
  margin-left: 20px;
  margin-top: 20px;
}
.container {
  display: flex;
  gap: 30px;
  margin-left: 30px;
  background-color: white;
  width: 420px;
  height: 55px;
  padding: 5px;
  border-radius: 10px;
}
.button-container {
  display: block;
  margin-left: 170px;
  margin-top: 20px;
}
.button {
  color: white;
  background-color: brown;
  border-color: transparent;
  border-radius: 10px;
  min-width: 50px;
  cursor: pointer;
  padding: 7px 14px;
  font-size: 16px;
  text-transform: uppercase;
}
.button:hover,
button:focus {
  transform: scale(1.03);
}
