.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px;
  height: auto;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 15px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.main{
  max-width: 480px;
  min-height: 85vh;

  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}