.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px;
  height: auto;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 15px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.main{
  max-width: 480px;
  /* width: 480px; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px; */
  /* min-height: 20vh; */
  /* min-height: 50vh; */
  /* height: 600px; */
  min-height: 65vh;

  @media (min-width: 768px) {
    /* min-height: 85vh; */
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    /* min-height: 100vh; */
    max-width: 1200px;
  }
}