.container{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    row-gap: 30px;
    background-image: url('../images/phonebook2-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.form{
    width: calc(100%/3);
}
.title{
    text-align: center;
}
.loading {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 20px;
}
.list {
    margin-left: 50px;
    margin-top: 20px;
    width: calc(100%/3);
}
.filter{
    margin-left: 40px;
    margin-top: 20px;
    width: calc(100%/3);
    background-color: white;
    width: 300px;
    height: 55px;
    padding: 5px;
    border-radius: 10px;
}