@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat&display=swap');

:root {
  --buttonHoverColor: #99CCCC;
  --textColor: #006666;
  --funcTransition: cubic-bezier(0.4, 0, 0.2, 1);
  --boxShadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--buttonHoverColor);
  background: linear-gradient(180deg, #ffffff 0%, var(--buttonHoverColor) 100%);
  width: 100%;
  min-height: 100vh;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}