.container {
    display: flex;
}
.name{
    margin-left: 10px;
}
.number{
    margin-left: 10px;
    margin-right: 10px;
}
.button-container{
    margin-top: -2px;
}
.button{
    color: white;
    background-color: brown;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}